__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

venv/
ENV/
env/
*.env
.env

*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
local_settings.py

.vscode/
.idea/

.DS_Store
Thumbs.db

celerybeat-schedule
celerybeat.pid

cloudinary_uploads/

stripe_config.json

htmlcov/
.coverage
.tox/

pip-log.txt
pip-delete-this-directory.txt
